
<!-- BEGIN CONTENT WRAPPER -->
<div class="content">

	<div class="container">
		<div class="row">

			<!-- BEGIN MAIN CONTENT -->
			<div class="main col-sm-12">

				<div class="login col-sm-9 col-sm-offset-1">
					<h1 class="center">Create New Account</h1>

					<div class="col-sm-12">

						<form name="myForm" class="form-style" ng-submit="register()">
							<div class="form-group">

								<div class="container">
										<div class="row">
										<div class="col-sm-4">
											<h1>Type d'enseigne :</h1>
										</div>
										<div class="col-sm-2">
											<label> Restaurant</label>
											<input
												type="checkbox"
												ng-checked="selected=='restaurantSelected'" ng-true-value="'restaurantSelected'" ng-model="selected">
										</div>
										<div class="col-sm-2">
											<label> Epicerie </label>
											<input
												type="checkbox"
												ng-checked="selected=='epicerieSelected'" ng-true-value="'epicerieSelected'" ng-model="selected">
										</div>
									</div>
								</div>
								<input type="text" name="nom" placeholder="Nom*"
									class="form-control" ng-model="nom" required /> <input
									type="text" name="prenom" placeholder="Prenom*"
									class="form-control" ng-model="prenom" required /> <input
									type="text" name="email" type="email"
									placeholder="Adresse mail*" class="form-control"
									ng-model="email" required />

								<div class="container">
									<div class="row">
										<div class="form-control-large">

											<select class="form-control" ng-change="selectedPaysChange()"
												ng-model="selectedPays"
												ng-options="unPays as unPays.nomPays for unPays in pays"
												required></select>
										</div>
										<div class="form-control-large" ng-show="selectedPays!=null">
											<select class="form-control" ng-model="selectedVille"
												ng-options="ville.idVille as ville.nomVille for (key, ville) in villes"
												required>
											</select>
										</div>
									</div>
								</div>

								<div ng-show="selectedVille!=null">
									<h4>Choisissez l'image principale du restaurant</h4>
									<button ngf-select="uploadFiles($files, $invalidFiles)"
										multiple accept="image/*" ngf-max-height="6000"
										ngf-max-size="3MB">Choisir une image</button>
									<br> <br> Files:
									<ul>
										<li ng-repeat="f in files" style="font: smaller">{{f.name}}
											{{f.$errorParam}} <span class="progress"
											ng-show="f.progress >= 0">
												<div style="width: {{f.progress" ng-bind="f.progress + '%'"></div>
										</span>
										</li>
										<li ng-repeat="f in errFiles" style="font: smaller">{{f.name}}
											{{f.$error}} {{f.$errorParam}}</li>
									</ul>
									{{errorMsg}}
								</div>


								<div class="checkbox">
									<label> <input type="checkbox" name="terms"
										ng-model="accept"> I confirm that I have read,
										understood and accept the <a href="#">Terms of Use</a> and the
										<a href="#">Privacy Policy</a>.
									</label>
								</div>




								<button ng-disabled="!accept" type="submit"
									class="btn btn-fullcolor">Create Account</button>
							</div>


						</form>





					</div>

				</div>

			</div>
			<!-- END MAIN CONTENT -->

		</div>
	</div>
</div>
<!-- END CONTENT WRAPPER -->